<section id="about">
    <section
      class="container-fluid d-flex flex-column justify-content-center text-start"
    >
    <div class="container-text">
      <h1 class="mb-4">Sobre Nosotros</h1>
 
      <p>
        Los Coscu Army Awards es un evento que premia y homenajea a streamers de
        la comunidad de <span>Kick</span> de Argentina, dirigido por el streamer
        <span>Martín Pérez Disalvo</span>.
      </p>
      <p>
        Desde su primera edición en 2018, realizada en la
        <span>Escuela Da Vinci</span> y transmitida por Twitch, el evento ha
        crecido enormemente. En 2019, se llevó a cabo en el
        <span>Estadio Obras Sanitarias</span>, alcanzando casi 100 mil
        espectadores. En 2020, el evento en el mismo estadio superó los 425 mil
        espectadores y fue la transmisión más vista en Latinoamérica, lo que le
        valió a Coscu el título de <span>"Streamer Leyenda"</span>.
      </p>
      <p>
        En 2021, el evento se celebró en el Hotel Hilton y rindió homenaje a
        <span>Frankkaster</span>, <span>Grafo</span> y <span>Pimpeano</span> con
        un anillo de oro. En 2022, la quinta edición se realizó en el icónico
        <span>Teatro Colón</span> con más de 200 mil espectadores y 2.500
        invitados. En 2023, la sexta edición se celebró en el
        <span>Luna Park</span>, con una duración de casi 6 horas, y
        <span>DavoXeneize</span> fue coronado como el streamer del año,
        dedicando su premio a Juan Roman Riquelme.
      </p>
      </div>
    </section>
  </section>