<section id="ternas">
  <video autoplay loop muted>
    <source src="../../../assets/img/fondos/video.mp4" type="video/mp4">
    Tu navegador no soporta el video.
  </video>

  <div class="container">
    <div class="container-fluid d-flex justify-content-center">
      <h1>TERNAS 2023</h1>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let category of categories">
        <div class="card h-100">
          <div class="card-body text-center d-flex flex-column justify-content-center">
            <h5 class="card-title">{{ category }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
